In [131]:
import MySQLdb
import pandas as pd
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.graph_objs as go
py.sign_in('SaikatSinha','ynxbrmfjpw')

In [141]:
conn = MySQLdb.connect(host="localhost", user="root", passwd="babai30.2008", db="bosch")
cursor = conn.cursor()

In [142]:
cursor.execute('SELECT flower,COUNT(data1)*4 FROM basic2 GROUP BY flower');

In [143]:
rows = cursor.fetchall()

In [144]:
df = pd.DataFrame( [[ij for ij in i] for i in rows] )
df.rename(columns={0: 'Flowers', 1: 'Data1', 2: 'Data2'}, inplace=True);

In [145]:
df.head()

      Flowers  Data1
0      setosa    128
1  versicolor    136
2   virginica    136

In [148]:
trace1 = Scatter(
    x=df['Flowers'],
    y=df['Data1'],
    mode='lines'
)
layout = Layout(
    title='Chart database',
    xaxis=XAxis( title='' ),
    yaxis=YAxis( title='' ),
)
data = Data([trace1])
fig = Figure(data=data, layout=layout)
py.iplot(fig, filename='Chartline')

In [149]:
trace2 = go.Bar(
    x=df['Flowers'],
    y=df['Data1'],
)
layout = Layout(
    title='Chart database',
    xaxis=XAxis( title='' ),
    yaxis=YAxis( title='' ),
)
data = Data([trace2])
fig = Figure(data=data, layout=layout)
py.iplot(fig, filename='Chartbar')