In [14]:
import MySQLdb
import pandas as pd
import plotly.plotly as py
from plotly.graph_objs import *
py.sign_in('SaikatSinha','ynxbrmfjpw')

In [49]:
conn = MySQLdb.connect(host="localhost", user="root", passwd="babai30.2008", db="bosch")
cursor = conn.cursor()

In [62]:
cursor.execute('SELECT COUNT(*) FROM basic GROUP BY flower');

In [63]:
rows = cursor.fetchall()

In [68]:
df = pd.DataFrame( [[ij for ij in i] for i in rows] )
df.rename(columns={0: 'Setosa', 1: 'Data1', 2: 'Data2'}, inplace=True);

In [69]:
df.head()

   Setosa
0       1
1       1
2       1