In [1]:
import MySQLdb
import pandas as pd
from flask import Flask, render_template
from flask import Markup

In [2]:
app = Flask(__name__)

In [3]:
conn = MySQLdb.connect(host="localhost", user="root", passwd="babai30.2008", db="bosch")
cursor = conn.cursor()

In [4]:
cursor.execute('SELECT flower,COUNT(data1)*4 FROM basic2 GROUP BY flower');

In [5]:
rows = cursor.fetchall()

In [6]:
df = pd.DataFrame( [[ij for ij in i] for i in rows] )
df.rename(columns={0: 'Flowers', 1: 'Data1'}, inplace=True);

In [7]:
df.head()

      Flowers  Data1
0      setosa    128
1  versicolor    136
2   virginica    136

In [ ]:
@app.route('/chart')
def charted():
    data = [('Setosa',df.iloc[0]['Data1']), ('Versicolor', df.iloc[1]['Data1']), ('Virginica', df.iloc[2]['Data1'])]
    return render_template('chart1.html', data=data)

In [ ]:
if __name__ == '__main__':

    app.run(host='0.0.0.0', port=5001)

 * Running on http://0.0.0.0:5001/ (Press CTRL+C to quit)
127.0.0.1 - - [10/Sep/2016 12:32:07] "GET /chart HTTP/1.1" 200 -